body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #666464;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul ol {
    display: inline;
    margin-right: 20px;
}

nav ul ol a {
    color: #fff;
    text-decoration: solid;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

section h2 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul ol {
    margin-bottom: 10px;
    font-size: 18px;
}

footer {
    background-color: #636161;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
